<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975068797793-b25tdh9jeo6fvjsos7t7arngmfa6bbvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975068797793-b25tdh9jeo6fvjsos7t7arngmfa6bbvr</string>
	<key>API_KEY</key>
	<string>AIzaSyBbiG03ejk1DRXwksOuEkce8bqZxo2t698</string>
	<key>GCM_SENDER_ID</key>
	<string>975068797793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetopdm</string>
	<key>PROJECT_ID</key>
	<string>receitas-b5cc3</string>
	<key>STORAGE_BUCKET</key>
	<string>receitas-b5cc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975068797793:ios:43cab9286cfa9d16d98320</string>
</dict>
</plist>